body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: #27066d;
}

.btn{
    border-radius: 5px;
    background: rgb(157, 202, 247);
    color: #333;
    padding: 20px;
    width: 200px;
    margin: 10px 5px;
}